* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clear {
    clear: both;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1650px;
    padding: 0 2%;
    margin: 0 auto;
}

.bgcontainer {
    max-width: 1920px;
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 90;
    height: 120px;
}

div .logo-tipo {
    float: left;
    margin-top: 16px;
}

div .logo-tipo img {
    width: 90px;
}

nav.menu-mobile {
    display: none;
}

nav.desktop {
    text-align: right;
}

nav li {
    list-style: none;
    margin-top: 49px;
    display: inline-block;
    margin-left: 46px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

nav li a:hover {
    text-decoration: none;
    color: #f3db45;
    font-weight: 600;
}

section.bg1 {
    width: 100%;
    height: 700px;
    background-image: url('../img/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

section.bg1 {
    width: 100%;
}

div.background1 img {
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-top: -145px;
    background-size: cover;
}

section.textbg {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 250px;
}

section.textbg h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    max-width: 645px;
}

.textbg h3 {
    margin-top: 15px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

section.textbg p {
    width: 100%;
    color: #f3db45;
    font-weight: lighter;
    font-size: 12px;
}

section.textbg a{
    margin-top: 40px;
    display: block;
    text-decoration: none;
}

.number-btn {
    background-color: #f3db45;
    margin-top: 12px;
    color: black;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

section.modalidades>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.modalidades {
    background-color: #f3db45;
    text-align: center;

}

section.modalidades h1 {
    font-size: 50px;
}

section.modalidades h1 {
    width: 100%;
    font-weight: normal;
    font-size: 50px;
    margin: 40px 0; 
}

section.modalidades span {
    font-weight: bold;
}

div.atividades {
    margin-bottom: 40px;
    margin-right: 15px;
    width: 19%;
}

div.atividades h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 16px;
}

div.atividades p {
    color: black;
    margin-bottom: 10px;
    font-size: 14px;
}

.atividades img {
    width: 50px;
    height: 50px;
}

.atividades h2 {
    font-size: 18px;
    margin-bottom: 8px;

}

.atividades p {
    font-size: 14px;
    margin-bottom: 18px;
}

section.galeria {
    background-color: black;
    padding: 30px;
}

section.galeria h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    max-width: 1650px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
}

section.galeria a{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
}

.matricula-btn {
    background-color: #f3db45;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
}

.matricula-btn:hover {
    background-color: black;
    border: 1px solid #f3db45;
    color: white;
}


section.map {
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: rgb(0, 0, 0);
}

footer {
    width: 100%;
    background-color: #f3db45;
}

div.contato {
    text-align: center;
    display: inline-block;
    width: 33.3%;
    float: left;
}

div.funcionamento {
    text-align: center;
    display: inline-block;
    width: 33.3%;
}

div.enderecos {
    text-align: center;
    display: inline-block;
    width: 33.3%;
    float: right;
}

footer {
    padding: 10px;
}

footer h1 {
    font-size: 16px;
    font-weight: bold;
}

footer h4 {
    font-size: 12px;
    font-weight: 500;
}

footer h2 {
    padding-top: 45px;
    text-align: center;
    font-size: 12px;
}

div.contato i {
    margin-top: 3px;
    cursor: pointer;
    padding: 3px;
    font-size: 30px;

}
